/*
*
*@author Cleison Cardoso
*@version 0.1
*/

/*========== Layout ==========*/
html, body, .capa{
	height: 100%;
}

body{
	background:  url("../imagens/imagem_capa.jpg");
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}


/* -- Barra de navegação -- */
nav.home{
	background: rgba(104,161,170,0.6);
	padding: 15px 0px;
	border: none;
}

.navbar-header .navbar-brand{
	color: white;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: rgb(24,45,62);

}

/* -- Imagem de capa -- */
.capa{
	display: table;
	width: 100%;
	padding-top: 10.5%;
	padding-bottom: 10.5%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* -- Formularios -- */

.formulario{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.resultados{
	background: #ffffff;
}

/* -- Rodapé -- */
.rodape{
	background: #000000;
	padding-top: 8%;
	padding-bottom: 8%
}

/*========== Tipografia ==========*/
h1{
	font-size: 100px;
	font-weight: 900px;
	letter-spacing: -0.05em;
}

h4{
	font-size: 25px;
	font-weight: 900px;
	letter-spacing: -0.05em;
	color: white;
}

p{
	color: #C0C0C0;
}

.capa-prestador{
	padding-top: 180px;
	padding-bottom: 180px;
}